@import '_breakpoints';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Merriweather|Nunito");
$left : 80px;
$right: 80px;
$nav-links-font-size: 1.2em;
$hero-font-size: 6em;
$subheader-font-size: 3em;
$fade-1: .8s;
$fade-2: .5s;