@import 'variables';
@import 'mixins';
@import 'shared';
footer {
	padding-left: $left;
	padding-right: $right;
	padding-bottom: $right - $right/2;
	a {
		text-decoration: none;
		color: black;
		margin-left: 40px;
		i {
			font-size: 2em;
		}
	}
	@include link_hover($nav-links-font-size, black, .25s);
	@include mobile_landscape {
		padding-left: 0;
		padding-right: 0;
	}
	@include mobile_portrait {
		padding-left: 0;
		padding-right: 0;
	}
}