@import 'variables';
@import 'mixins';
$image_url_2: url('../designs/mountain-range-cartoon.png');
$image_url: url('../designs/google-material-design-wallpaper.jpg');
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	a {
		text-decoration: none;
		color: black;
		&:visited {
			color: black;
		}
	}
	p {
		font-family: 'Lato', sans-serif;
	}
}
.sticky {
	position: fixed;	
	top: 0;
	width: 100%;
	z-index: 9999;
}
// .sticky + .main {
// 	padding-top: 71px;
// }
.fade-in {
	@include fade-in(1s);
}
.fade-out {
	@include fade_out_obj(all, .5s);
}
.shadow {
	@include shadow(#EEEEEE);
}
.main {
	flex: 1;
	.container {
		min-height: 100vh;
		padding-left: $left;
		padding-right: $right;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-bottom: 1px solid white;
	}
	h1 {
		font-size: $subheader-font-size;
	}
}
#home {
	.hero-card {
		text-align: center;
		width: 75%;
		padding: 30px;
		margin-bottom: 300px;
		font-family: 'Lato', sans-serif;
		h1 {
			font-size: $hero-font-size;
		}
		p {
			font-size: 1.8em;
		}
	}
}
#projects {
	// background-image: $image_url_2;
	// background-position: center;
	// background-repeat: no-repeat;
	// background-size: cover;
	.projects-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.project-card {
			flex: 1 1 0;
			margin-left: 10px;
			padding-bottom: 20px;
			text-align: center;
			border: 2px solid #EEEEEE;
			img {
				width: 100%;
				height: auto;
			}
			a {
				padding-left: 5px;	
				padding-right: 5px;
			}
			@include link_hover(1em, black, .25s);
		}
	}
}
#about-me {
	.description-card {
		display: flex;
		align-items: center;
		justify-content: center;
		.description {
			flex-basis: 50%;
			padding-left: 20px;
			p {
				margin: 0;
				line-height: 1.5em;
				font-weight: 300;
				font-size: 1em;
			}
		}
		img {
			width: 25vh;
			height: 25vh;
			border-radius: 50%;
		}

	}
	.skills-row{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		// margin-right: 30px;
		.skill-container {
			flex: 1 1 0;
			h3 {
				text-align: left;
			}
			li {
				font-weight: 700;
				vertical-align: top;
				list-style: none;
				display: inline-block;
				padding: 8px;
				margin-right: 10px;
				margin-bottom: 10px;
				border: 2px solid #EEEEEE;
				background: black;
				color: white;
				border-radius: 10px;
				@include transition_transform(.15s);
				&:hover{
					@include transition_scale(1.2);	
				}
			}
		}
	}
}




