@import 'variables';
@import 'mixins';
@import 'shared';
header {
	@include shadow(0, 0, 3px, 0, rgba(32, 33, 36, 0.28));
	background: white;
}
nav {
	$color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: $left;
	padding-right: $right;
	ul {
		list-style: none;
		height: 100%;
		li {
			display: inline-block;
			padding-left: 40px;
		}
	}
}
.normal-hover {
	@include link_hover($nav-links-font-size, black, .25s);
}
.reverse-hover {
	@include link_hover($nav-links-font-size, white, .25s);
}
// display hamburger in the top left
.hamburger {
	display: none;	
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 5px;
}
.show-navbar {
	display: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	@include mobile_tap(rgba(255, 255, 255, 0)); 
	span {
		display: block;
		background-color: black;
		height: 3px;
		width: 26px;
		margin: 0 auto 5px;
	}
}
.mobile-nav {
	display: none;
	opacity: 0;
	visibility: hidden;
	ul {
		list-style: none;
		padding-top: 30px;
		padding-left: 0;
		@include flex_column();
		li {
			padding: 10px;
			a {

			}
		}
	}
}
@include tablet_landscape {

}
@include tablet_portrait{

}
@include mobile_landscape {
	header {
		display: none;
	}
	// .hamburger {
	// 	display: block;
	// }
	// .show-navbar {
	// 	display: block;
	// }
	// .mobile-nav {
	// 	display: block;
	// 	ul {
	// 		@include flex_column();
	// 	}
	// }
	
}
@include mobile_portrait {
	nav {
		display: none;
	}
	// .hamburger {
	// 	display: block;
	// }
	// .show-navbar {
	// 	display: block;
	// }
	// .mobile-nav {
	// 	display: block;
	// 	ul {
	// 		@include flex_column();
	// 	}
	// }
}
