<div class = "row">
    <div class = "side-content">
        <h2> About Me </h2>
        <p> 
        My name is Jansen Yan and I am a software developer. I recently graduated
        from University of California, Irvine with a B.S in Computer Science in Summer 2018.
        <br><br>
	    I am currently a software developer at a small team in Southern California and specialize in Full Stack Web Dev. I mainly work in the backend using PHP nowadays, but I am constantly learning and mastering new skills in the frontend and backend. One of my current interests is the Ionic Framework, used to build Hybrid Mobile Applications.  
        <br><br>
        </p>
        <br>
    </div>
    <div class = "main-content">
        <h2> How did you get into Programming? </h2>
        <p> Growing up in the Bay Area, I lived in the tech-boom era of the early 2000's. I was surrounded by tech,
        and programming was quickly rising in popularity. However when I was younger, I didn't have much interest in programming, and originally wanted to pursue a career in healthcare. It wasn't until my freshmen year at University of California, Irvine that I found my passion in Computer Science after seeing my friends build cool apps and games in
        their introductory programming classes. I switched my major from Biological Sciences to Computer Science in my Sophomore Year. </p>
        <p> As I continued on through my Computer Science education, I began to learn more theory and exposed myself to different areas of Computer Science such as Operating Systems, Machine Learning and Big Data. I went through tough times during my 4 years, and it definitely wasn't easy. However through it all, what kept me going was that through coding, I was able to take an idea and turn it into reality on my computer screen! </p>
        <p>
        After graduation, I am now starting my career as a software developer and my passion remains the same, to strive to improve, try my best, turn ideas into reality through code! 
	    </p>
        <h2> What are your interests? (Besides programming of course!) </h2>
        <p>	
        	I enjoy the usual variety of hobbies such as video games, playing music and sports such as badminton and basketball. However, I have been enjoying yo-yoing a lot lately. It's an awesome creative outlet and great for helping coordination as well! If you haven't seen what modern yo-yoing looks like, check this out!
        </p>
    </div>
</div>


