/* You can add global styles to this file, and also import other style files */
body{	
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	margin: 0;
	/* fit background size to cover (CREDITS TO PINTEREST FOR THIS IMAGE!) */
	/* https://www.pinterest.com/pin/752945631429026754/?lp=true */
	background: url('mountain-range.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	--dark-blue: #393E75;
  	--beige: #FFFBF8;
  	box-sizing: border-box;
}
.fade-in{
	animation: fadeIn 2s ease forwards;
	-webkit-animation: fadeIn 2s ease forwards;
 	-moz-animation: fadeIn 2s ease forwards;
 	-o-animation: fadeIn 2s ease forwards;
 	-ms-animation: fadeIn 2s ease forwards;
}

.hero-card{
	border: 2px solid var(--beige);
	margin-top: 20px;
	padding: 10px 30px 30px 30px;
	color: var(--dark-blue);
	text-align: center;
	font-family: 'Merriweather', serif;
	width: 50vh;
}
.navbar{
	display: flex;
	padding: 20px;
}
.navbar > a{
	display: inline-block;	
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	color: var(--dark-blue);
}
.navbar > a:hover{
	color: white;
}
.navbar > a:visited{
	text-decoration: none;
}

.main-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer{
	position: fixed;
	padding: 20px;
	left: 0;
	right: 0;
	bottom: 0;
}
.footer a{
	display: inline-block;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
.footer a:hover{
	color: black;
}

.hamburger{
	display: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	margin: 15px;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}
.hamburger > span{
	display: block;
	background-color:#484848; 
    height:3px; 
    width:26px; 
    position:relative; 
    margin:0 auto 5px;
}
@media screen and (max-width: 700px){
	.hero-card{
		width: 40vh;
	}
	.navbar{
		display: none;
		flex-direction: column;
	}
	.footer{
		display: none;
	}
	.hamburger{
		display: block;
	}
}

/* The animation code */
/*@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}*/

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
