/* You can add global styles to this file, and also import other style files */
body{	
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	margin: 0;
	/* fit background size to cover (CREDITS TO PINTEREST FOR THIS IMAGE!) */
	background: url('mountain-range.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.header{
}
.navbar{
	display: flex;
	padding: 20px;
}
.navbar > a{
	display: inline-block;	
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	color: black;
}
.navbar > a:hover{
	color: white;
}
.navbar > a:visited{
	text-decoration: none;
}

.row{
	display: flex;
}
.side-content{
	flex: 30%;
	padding: 20px;
}
.main-content{
	flex: 70%;	
	padding: 20px;
}
.footer{
	position: fixed;
	padding: 20px;
	left: 0;
	right: 0;
	bottom: 0;
}
.footer a{
	display: inline-block;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
.footer a:hover{
	color: black;
}

@media screen and (max-width: 700px){
	.row, .navbar{
		flex-direction: column;
	}
}
