/*.main-section {
	background-color: white;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 100px;
}
header {
	line-height: 1.5;
}
h1, p.contact{
	text-align: center;
}
a:visited{
	color: teal;
}
a:hover{
	color: blue;
}
section {
	line-height: 2;
}
*/
/* add a space between the icons and links */
i{
	margin-right:1rem;
	display: inline-block;
}

