<div class = "header">
    <h1> Jansen Yan </h1>  
    </div>  
    <div class = "navbar">
    <a routerLink = "/" routerLinkActive = "active"> Home </a>
    <a routerLink = "/resume" routerLinkActive = "active"> Resume </a>
    <a routerLink = "/about-me" routerLinkActive = "active"> About Me </a>
    <a routerLink = "/travel" routerLinkActive = "active"> My Travels </a>
    <a routerLink = "/contact" routerLinkActive = "active"> Contact </a>
</div>
<router-outlet></router-outlet>
<div class = "footer">
    <a href = "https://linkedin.com/in/jansenyan"> Linkedin </a>
    <a href = "https://github.com/jyan500"> Github </a>
    <a href = "https://youtube.com"> Youtube </a>
</div>
