<div class = "row">
    <div class = "side-content">
    	<h2>Skills</h2>
		<h3> Web Development </h3>
		<hr>
    	<div class = "webdev-section">
    		<div class = "frontend-section">
	    		<h4> Frontend </h4>
	    		<ul>
		        	<li> HTML </li>
		        	<li> CSS </li>
		        	<li> Javascript </li>
		        	<li> Angular </li>
		        	<li> Bootstrap </li>
		        </ul>	
    		</div>
    		<div class = "backend-section">
    			<h4> Backend </h4>
		        <ul>
		        	<li> PHP </li>	
		        	<li> Flask </li>
		        	<li> MySQL </li>
		        	<li> Coldfusion </li>
		        	<li> Java EE </li>
		        	<li> Firebase </li>
		        	<li> Node </li>
		        </ul>
    		</div>	
    		<div class = "server-section">
    			<h4> Server </h4>
    			<ul>
    				<li> Apache </li>
    				<li> Nginx </li>
    			</ul>
    		</div>
    		<div class = "testing-section">
    			<h4> Testing </h4>
    			<ul>
    				<li> PHPUnit </li>
    			</ul>
    		</div>
    	</div>
    	<h3>
    		Software Engineering 	
    	</h3>
    	<hr>
    	<div class = "software-engineering">
    		<div>
    			<h4> Object Oriented Programming </h4>
    			<ul>
    				<li> Python </li>
    				<li> Java </li>
    				<li> C++ </li>
    			</ul>
    		</div>
    		<div>
	    		<h4> Software/Editors </h4>
	    		<ul>
	    			<li> Virtual Box </li>	
	    			<li> GitKraken </li>
	    			<li> Sublime Text 3</li>
	    			<li> MySQL Workbench </li>
	    			<li> Jira </li>
	    			<li> Putty </li>
	    		</ul>	
    		</div>	
    		<div>
	    		<h4> Operating Systems </h4>
	    		<ul>
	    			<li> Unix </li>	   		
	    			<li> Windows </li>
	    		</ul>	
    		</div>	
    	</div>
    </div>
    <div class = "main-content">
        <h2> Relevant Experience </h2>
        <h3> Software Developer </h3>
        <p> Home Campus (July 2018 - Present )</p>
        <ul>
        	<li> Implemented bug fixes, modifications and new features for the Home Campus and Athletic Clearance Web Apps. </li>
        	<li> Designed and implemented a Hybrid Mobile App using Ionic 3 and Angular to replace existing native Android/iOS systems, helping the company secure seven more clients. </li>
        	<li> Migrated legacy PHP system to MVC framework on Laravel. </li>
        	<li> Maintain Gitlab Repo and PHPMyAdmin Database. </li>
        	<li> Collaborate using Jira and Kanban Methodology. </li>
        </ul>
        <br>
        <h3> Programming Intern </h3>
        <p> Reazon Systems (June 2017 - September 2017)</p>
        <ul>
        	<li> Developed an API with intern team that streamlines access to thousands of student files using Coldfusion and SQL Server. </li>
        	<li> Implemented a file transfer mechanism allowing clients to generate and download files in custom ZIP archives.  </li>
        	<li> Refactored existing Coldfusion Scripts to promote reusability and modularity within the codebase. </li>
        </ul>
        <br>
        <h3> Computer Science Peer Tutor </h3>
        <p> University of California, Irvine (March 2017 - June 2018) </p>
        <ul>
        	<li> Assisted groups of 20-25 students with lab assignments and conceptual questions. </li>
        	<li> Reinforced student understanding of fundamental programming constructs in Python and Java through 
        	one-on-one and group coding demonstrations. </li>
        	<li> Created new teaching material to supplement student learning outside of lecture. </li>
        </ul>
    </div>

</div>
