/* You can add global styles to this file, and also import other style files */
body{	
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #f1f1f1;
}
.header{
}
.navbar{
	display: flex;
	padding: 20px;
	background-color: black;
}
.navbar > a{
	display: inline-block;	
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar a:hover{
	color: green;	
}

.row{
	display: flex;
}
.side-content{
	flex: 30%;
	background-color: white;
	padding: 20px;
}
.main-content{
	flex: 70%;	
	background-color: #f1f1f1;
	padding: 20px;
}
.footer{
	background-color: black;
	padding: 20px;
}
.footer a{
	display: inline-block;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
.footer a:hover{
	color: green;
}

@media screen and (max-width: 700px){
	.row, .navbar{
		flex-direction: column;
	}
}
